@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .neon-text {
    text-shadow:
      0 0 5px #06b6d4,
      0 0 10px #06b6d4,
      0 0 20px #06b6d4,
      0 0 40px #0891b2;
  }

  .neon-box {
    box-shadow:
      0 0 5px #06b6d4,
      0 0 10px #06b6d4,
      inset 0 0 5px #06b6d4;
  }
}
